<div class="container">
	<div class="row my-4">
		<div class="col-md-12">
			<h1 class="font-weight-bold text-center">Categories</h1>
			<div class="center-box"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="nav category-nav nav-pills justify-content-center">

			<% category.forEach(function(x){ %>
				  <li class="nav-item">
				    <a class="nav-link" href="#"><%= x.name %></a>
				  </li>

			<% }) %>


			  
			</ul>
		</div>
	</div>
	<div class="row product">

		<% product.forEach(function(x){ 
			var dis = (x.price * x.discount)/100;
			dis = x.price - dis;
		%>


		<div class="col-md-3 mt-3">
			<div class="card">
				<span style="position: absolute; background-color: red; border-radius: 100px; color: #FFF; padding: 8px; margin-top: -10px; margin-left: -10px; font-size: 14px; font-weight: bold; transform: rotate(-30deg);"><%= x.discount %>%</span>
			   <img class="card-img-top" src="product/<%= x.image %>" alt="Card image" style="width:100%; height: 300px;">
			   <div class="card-body">
			   	<h4 class="card-title"><%= x.name %></h4>
			     <p class="card-text">Some example text some example text. John Doe is an ...</p>
			     <a href="#" class="btn my-btn-2 btn-sm float-left">More</a>
			     <p class="text-right m-0"><%= dis  %></p>
			     <small class="float-right m-0"><del>(<%= x.price %>)</del></small>
			     <br />
			   </div>
			     <a href="#" class="add-to-cart header-color ">Add To Cart</a>
			 </div>
		</div>
		<% }) %>
		
		
	</div>

</div>